<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XB_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,180}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,51},{122,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,170}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,61},{122,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{114,170}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,61},{114,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,174},{120,170}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,61},{120,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,184},{122,170}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,61},{122,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{120,180}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,51},{120,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{122,170}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,61},{122,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,356},{120,170}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,61},{120,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>XB_action_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{112,170}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,61},{112,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XB.png</string>
            <key>size</key>
            <string>{480,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:402dfa6ce56a394af45ae0cfd8072077$</string>
            <key>textureFileName</key>
            <string>XB.png</string>
        </dict>
    </dict>
</plist>
